@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-0 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #efefef;
}


#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-1 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-1 .mbr-navbar__hamburger {
  color: #efefef;
}
#msg-box5-l .mbr-header__text {
  color: #ffffff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
#msg-box5-l .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-l .mbr-article {
  color: #ffffff;
}
#msg-box5-l .mbr-article P {
  text-align: center;
  color: #efefef;
}
#msg-box5-m .mbr-header__text {
  color: #000000;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
#msg-box5-m .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-m .mbr-article {
  color: #ffffff;
}
#msg-box5-m .mbr-article P {
  text-align: center;
  color: #000000;
}
#msg-box5-n .mbr-header__text {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}
#msg-box5-n .mbr-header__subtext {
  color: #cccccc;
  text-align: center;
}
#msg-box5-n .mbr-article {
  color: #ffffff;
}
#msg-box5-n .mbr-article P {
  text-align: center;
}
#social-buttons1-o .mbr-header__text {
  color: #ffffff;
}
#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-2 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #efefef;
}
#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-3 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #efefef;
}
#features1-h .mbr-section__col .mbr-header__text {
  color: #ffffff;
  font-size: 20px;
}
#features1-h .mbr-section-title .mbr-header__text {
  color: #ffffff;
}
#features1-h P {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}
#social-buttons2-e .mbr-header__text {
  color: #efefef;
}
#ext_menu-4 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-4 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-4 .mbr-navbar__hamburger {
  color: #efefef;
}
#form1-f .mbr-header__text {
  color: #efefef;
}
#social-buttons1-d .mbr-header__text {
  color: #efefef;
}
#ext_menu-5 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-5 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-5 .mbr-navbar__hamburger {
  color: #efefef;
}
